:root {
    --text-xs             : .5rem;
    --text-sm             : .7rem;
    --text-m              : 1rem;
    --text-lg             : 1.3rem;
    --text-xl             : 1.5rem;

    --border-radius       : 5px;
    --border-width-thick  : 3px;
    --border-width        : 1px;
    --border-width-thin   : 0.3px;
    --border-style        : solid;

    --box-shadow          : none;

    --padding-m           : 5px;
    --padding-lg          : 10px;
    --padding-xl          : 15px;

    --ctrl-height-xs      : 15px;
    --ctrl-height-sm      : 20px;
    --ctrl-height         : 30px;
    --ctrl-height-lg      : 40px;
    --ctrl-height-xl      : 50px;
}
